body{
    background-color: rgb(203, 238, 226);
}
h1{
    color: blue;
}
h2{
    color: rgb(105, 12, 192);
}
button{
    color: blue;
    background-color: rgba(119, 201, 25,0.6);
}
a{
    color: red;
}
input{
    background-color: rgb(235, 232, 97);
}
textarea{
    background-color: rgba(255, 102, 103, 0.3);
    border-radius: 10px;

}
#title_main{ 
    color: beige;
    font-family:serif;
    font-weight: lighter;
    text-align: center;

}
#side_bar{
    background-color: rgba(145, 202, 153,0.5);
    width: 220px;
}
#side_bar_margin{
    
    margin-bottom: 0px;
}
.sub_titles{
    text-align: center;
}
#low_bar{
        background-color: rgba(145, 202, 153,0.5);
}
#user_data{
     background-color: rgba(145, 202, 153,0.5);
}
table{
    border-collapse: separate;
    border-spacing: 10px;
}
td,th{
    text-align: center;
}
