body {
    background-image: url("/tracker-repo/src/assets/images/mountain.jpg");
    background-size: cover;
}

h1 {
    color: rgb(238, 238, 248);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 44px;
    display: inline;

    letter-spacing: -3px;
}

h2 {
    color: rgb(129, 176, 247);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

input {
    background-color: rgb(175, 230, 243);
}

textarea {
    background-color: rgb(248, 243, 243);
    border-radius: 10px;

}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

td,
th {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

a {
    color: rgb(157, 240, 240);
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#user_data {
    background-color: rgba(145, 202, 153, 0.5);
}

.plan_dropdown {
    background-color: rgba(153, 239, 241, 0.6);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: smaller;
    border-radius: 10px;

}

.dropdown {
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    border-radius: 10px;
}

.heading {
    display: inline;
}

button {
    background-color: rgba(153, 239, 241, 0.6);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 5px;
    border: 1px solid black;

}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}